@import "theme";

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    display: flex;
    align-items: center;
    height: $height-top;
    flex-shrink: 0;
    position: fixed;
    background: $color-background;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid $color-delimiter;
}

.logo {
    margin: 0 30px;
}

.menu {
    flex: 1;
    align-content: flex-end;
    margin: 0 30px;
}

.content {
    padding-top: $height-top;
    flex: 1;
}
